.main-cont {
    display: flex;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: #F9FAFC !important;
  }
  
  .right {
    width: 70%;
    border-radius: 10px !important;
    box-shadow: 3px 3px 20px #E6EFFF;
    height: 80vh;
    margin-top: 30px;
    margin-left: 30px;
    background-color: white !important;
  }
  
  .left {
    width: 20%;
  }
  
  @media (max-width: 768px) {
    .right {
      width: 100%;
    }
  
    .left {
      width: 0%;
    }
  
    .right {
      margin-left: 0px;
    }
    
  }
  